* {
    margin: 0;
    padding: 0;
    font-family: "Spotify Mix";
    transition: all 0.1.5s ease-in-out;
    color: white;
    flex-shrink: 0;
    /* this is to stop icons becoming small */
}

@media only screen and (max-width: 1400px){
    .intxt{
        display: none;
        width: 0px;
    }
    .installspan{
        margin-left: auto;
    }
}

body {
    background-color: black;
}

ul {
    list-style: none;
    /* outline: 2px solid white; */
    display: flex;
    gap: 20px;
    align-items: center;
}


/* shubhuStart */

:root {
    --icon-grey-glow: #FBFBFB;
    --icon-grey-def: #b3b3b3;
    --icon-def-scale: 1.05;

}

.greyNavIcon {
    fill: var(--icon-grey-def);

    * {
        color: var(--icon-grey-def);
    }

    cursor: pointer;

    &:hover {
        fill: var(--icon-grey-glow);
        scale: var(--icon-def-scale);

        * {
            color: var(--icon-grey-glow);
        }
    }
}

header>nav>ul {
    justify-content: space-between;
    padding: .5rem .2rem .5rem 1.5rem;


}

.navBarRight {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.7rem;
    padding-right: .7rem;
    flex-basis:265px;

}

.navBarRight>span:last-child {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}




/* shubhuEnd */
.spotifylogo {
    filter: invert();
    width: 32px;
}

.homeicon {
    filter: invert();
    width: 25px;
}

.iconbox {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    background-color: rgb(31, 31, 31);
    display: flex;
    justify-content: center;
    align-items: center;

    /* margin-right: -10px; */
}

.iconbox:hover {
    background-color: rgb(41, 41, 41);
}

.searchbar {
    background-color: rgb(31, 31, 31);
    width: 474px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 3px;
    padding-right: 18px;
    transition: all .3s ease-in-out;
}

.searchbar:hover {
    background-color: #2A2A2A;
}

.searchicon {
    width: 25px;
    margin-left: 8px;
}

.search {
    width: 200px;
    color: var(--icon-grey-glow);
}

.search::placeholder {
    color: var(--icon-grey-def);
}

.vline {
    width: 1px;
    height: 60%;
    border: 0.6px solid rgba(255, 255, 255, 0.553);
    margin-left: auto;
}

.browseicon {
    width: 25px;
    height: 25px;
}



.installicon {
    width: 16px;
    height: 16px;

}

.intxt {
    font-size: 14px;
    font-weight: 700;
letter-spacing: -.2px;

}

.install {
    display: flex;
    align-items: center;
    gap: 7px;

}



.installi {
    margin-left: auto;
}

.centersearchl {
    width: fit-content;
    display: flex;
    gap: 7px;
    transform: translateX(104px);
    transition: outline .3s ease-in-out;
}
.centersearchl:focus{
    outline: 2px solid white;
}
.bellicon {
    width: 16px;
}



.peopleicon {
    width: 16px;
}



.accountdiv {
    background-color: #B49BC8;
    color: black;
    font-weight: 700;
    width: 32px;
    height: 32px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: 7px solid  rgb(39, 39, 39);
    margin-left: .45rem;
}

.accountdiv:hover {
    scale: var(--icon-def-scale);
}


/* this is sidebar  */

.leftSidebar {
    background-color: #121212;
    width: 30vw;
    height: 90vh;
    padding: 0px 0px;
}

.artistcontent {
    overflow-y: scroll;
    scrollbar-color: auto;
    scrollbar-color: rgba(255, 255, 255, 0.629) rgba(0, 0, 0, 0.612);
    max-height: 550px;
    /* outline: 2px solid red; */
}

.navul {
    display: flex;
    padding: 0;
}

.urlibrary {
    font-size: 16px;
    font-weight: 700;
    margin-left: 6px;
}

.buttoncan {
    margin-left: auto;
}

.create-button {
    width: fit-content;
    background-color: #323232a9;
    padding: 10px 15px;
    border-radius: 30px;
    display: flex;
    gap: 5px;
    filter: brightness(0.6);
    font-weight: 400;
    font-size: 13px;
    color: white;
    filter: brightness(1);

}

.create-button:hover {
    background-color: #3e3d3d;
}

.plussvg {
    filter: invert();
    width: 15px;
}

.fullscreenicon {
    filter: invert() brightness(0.5);
    width: 18px;
}

.fullscreenicon:hover {
    filter: invert() brightness(1);
    transform: scale(1.1);
}

.artistbutton {
    padding: 5px 13px;
    margin: 10px 0;
}

.searchicondiv {
    width: 35px;
    height: 35px;
    border-radius: 35px;
    /* margin: 20px 30px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchicondiv:hover {
    background-color: #3e3d3d;


}

.sidenav {
    display: flex;
    align-items: center;
    margin: 20px 0px;
}

.searchiconside {
    width: 17px;

}

.recentdiv {
    width: min-content;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: auto;
    margin-right: 15px;
    font-size: 14px;
    font-weight: 400;

}

.recentdiv:hover {

    scale: 1.02;
}

.recenticon {
    width: 20px;
    height: 20px;
    filter: invert();
}

.sideparent {
    padding: 20px 20px;
}

.artistcontent {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* padding: 10px; */
    margin-top: 10px;
}

.artistbar {
    display: flex;
    gap: 20px;
    border-radius: 10px;
    padding: 5px 10px;
}

.artistbar:hover {
    background-color: #3e3d3d;
}

.artistphoto {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    object-fit: cover;
}

.about {
    font-size: 14px;
    font-weight: 400;
}

.name {
    font-size: 16px;
    font-weight: 400;
}

footer {
    margin: auto;

}

.player {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: black;
    /* height: 60px; */
    width: 100vw;
    /* border: 2px solid red; */
    position: fixed;
    /* margin: auto; */
    z-index: 5;
    padding: 10px;
    bottom: 0px;
    left: 0px;
}

.musicimg {
    width: 56px;
    height: 56px;
    object-fit: cover;
    border-radius: 5px;
}

.musictitle {
    font-size: 14px;
    font-weight: 400;
}

.musicsubs {
    font-size: 12px;
    font-weight: 300;
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.videoicon {
    width: 12px;
    filter: invert();
    display: inline;
    margin-right: 5px;
    /* margin-top: 10px; */
}

.addicon {
    filter: invert() brightness(0.7);
    width: 14px;
    margin: 20px;
}

.addicon:hover{
    filter: invert() brightness(1);
}


.shuffleicon {
    filter: invert() brightness(0.7);
    width: 15px;
}

.shuffleicon:hover{
    filter: invert() brightness(1);
}

.mainplayerupper {
    display: flex;
}

.mainplayer{
    /* width: 100px; */
    /* height: 10px; */
    /* outline: 2px solid red; */
    margin: auto;
    display: flex;
    gap: 20px;
}
.play{
    background-color: rgb(255, 255, 255);
    width: 25px;
    height: 25px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.playsvg{
    width: 16px;
    /* outline: 2px solid red; */
    /* margin-left: 3px; */
}
.parentmainplayer{
    width: fit-content;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.progressbar{
    width: 350px;
    height: 3px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.761);
    cursor:grab;
}
.progressbar:hover{
    background-color: white;
}
.progress{
    display: flex;
    gap: 10px;
    align-items: center;
}
.time1{
    font-size: 11px;
    font-weight: 300;
}
.soundbar{
    width: 70px;
    height: 3px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.77);
    cursor:grab;
}
.soundbar:hover{
    background-color: white;
}